.App {
	text-align: center;
}

h1 {
	font-size: 40px;
	color: #fff;
}

button {
	font-size: 24px;
	font-weight: 500;

	margin: 10px;
	padding: 10px 20px;

	border-radius: 10px;
	cursor: pointer;
}

.reset-btn {
	padding: 15px 30px;
	background-color: blanchedalmond;
	transition: all 0.5s;
}
.reset-btn:hover {
	background-color: #fff;
}
